---
title: Coshx Labs
layout: default
---
	<div class="header-gray">
		<div class="row"><h1 class="left">Blogarithm</h1></div>
	</div>

	<div class="row">		
			<section class="column nine blogs">

				{% for post in site.posts limit: 6 %}

				<div class="blog-wrapper">
				
					<div class="column four"><img src="img/avatar.png" alt="" class="avatar"></a></div>
					<section class="column eight blog end">
						<div class="date">{{ post.date | date: "%B %d, %Y" }}</div>
						<div class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
						<h3></h3>
						<p>{{ post.content | truncatewords: 42 }}</p>
						<a href="{{ post.url }}" class="read-more">Continue Reading</a>
					</section>
				</div>

				{% endfor %}

				<a href="" class="prev-post">Previous Post</a>
				<a href="" class="next-post">Next Post</a>
			</section>
			<section class="column three end">
				<h3>Most popular</h3>
				<ul class="widget">
					{% for post in site.posts limit: 3 %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a>
						<div class="date">{{ post.date | date: "%B %d, %Y" }}</div>
					</li>
					{% endfor %}
				</ul>
				<a href="" class="btn orange center">Contact Us</a>
				<a href="" class="btn dark-blue center">Like our page</a>
				<a href="http://www.twitter/coshxlabs" class="btn blue center">@coshxlabs</a>
			</section>			
	</div>