---
layout: default
---


<div class="header-gray">
		<div class="row"><h1 class="left">Our Blog</h1></div>
	</div>

	<div class="row">		
			<section class="column nine blogs">
				<div class="blog-wrapper">
					<div class="column four"><img src="/img/avatar.png" alt="" class="avatar"></div>
					<section class="column eight blog end">

						<div class="date">{{ page.date | date: "%B %d, %Y" }}</div>
						<h2>{{ page.title }}</h2>
										
						<p>{{ content }}</p>

						
					</section>
					
				</div>				
				<a href="" class="prev-post">Previous Post</a>
				<a href="" class="next-post">Next Post</a>
			</section>
			<section class="column three end">
				<section class="column three end">
				<a href="" class="btn orange center">Contact Us</a>
				<a href="" class="btn dark-blue center">Like our page</a>
				<a href="http://www.twitter/coshxlabs" class="btn blue center">@coshxlabs</a>
			</section>			
	</div>